streamlit
opencv-python-headless==4.10.0.84
numpy
pillow
matplotlib
pandas
openpyxl
PyMuPDF
python-docx
python-pptx
seaborn
plotly
inference-sdk
scikit-image
streamlit-drawable-canvas

